.navigation, .navigation ul {
list-style:none outside none;
margin:0;
padding:0;
z-index:10;
}
.navigation a {
-moz-border-radius:3px 3px 3px 3px;
background-color:#007DC5;
color:#FFFFFF;
display:block;
font-weight:bold;
padding:0 5px;
}
.navigation li.active a {
background-color:#d6edff;
color:#007DC5;
}
.navigation li {
float:left;
line-height:24px;
margin-right:1px;
}
.navigation li ul {
height:21px;
left:-999em;
position:absolute;
width:254px;
}
.navigation li ul li a {
background-color:#D6EDFF;
background-image:none;
color:#007DC5;
font-size:9pt;
height:21px;
margin-top:1px;
width:254px;
}
.navigation li ul li.active a {
color:#D6EDFF;
background-color:#007DC5;
}
.navigation li ul li a.cache {
display:none;
}
.navigation li ul li a:hover {
background-color:#007DC5;
color:#D6EDFF;
}
.navigation li:hover ul, .navigation li li:hover ul, .navigation li.sfhover ul, .navigation li li.sfhover ul {
left:auto;
min-height:0;
}